version: "3"

services: 
    Mysql-5.7.34:
        container_name: MySql-5.7.34
        image: mysql:5.7.34
        restart: always
        ports: 
            - "3306:3306"
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_ROOT_HOST: "%"
            TZ: Asia/Shanghai
        volumes:
            - "./data:/var/lib/mysql"
            - "./config:/etc/mysql/conf.d"